.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    font-size: 20px;
    font-weight: 600;

    color: #fff;
    text-shadow:
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 2px #fff,
        0 0 4px #bb00ff,
        0 0 8px #bb00ff,
        0 0 9px #bb00ff,
        0 0 10px #bb00ff,
        0 0 15px #bb00ff;
    
    &-logo{
        font-size: 30px;
    }

    &-nav{
        flex: 1;
    }

    &-nav-item{
        padding: 0 20px;
        margin: 0 20px;
    }
    
    &-view-now{
        border: 2px solid #bb00ff;
        padding: 10px 30px;
        border-radius: 14px;
    }
}