@import './variables';
@import './animations';

// clear default element
input{
    outline:none;
}

a{
  display: inline-block;
  color: unset;
  text-decoration: none;

  &:hover{
    text-decoration: none;
    color: unset;
  }
}

a:not([href]):not([tabindex]){
  color: #fff;
}

// custom class inline
.team{
  position: relative;
  height: 100vh;
  font-size: 100px;
  color: #fff;
  font-weight: 800;
  background-image: linear-gradient(180deg, #7950f2 5%, #f783ac 95%);
}

.margin-auto{
  margin: auto;
}
.tac{
  text-align: center;
}

.mt-90{
    margin-top: 90px;
}

.img-height{
  height: 100% !important;
  width: auto !important;
  transition: all 0.5s ease-in-out;
}

.img-width{
  width: 100% !important;
  height: auto !important;
  transition: all 0.5s ease-in-out;
}

.centering{
  display: flex;
  align-items: center;
  justify-content: center;
}

.centering-left{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.primary-title{
  font-size: 60px;
  font-weight: 800;
  font-family: system-ui;
  margin-bottom: 35px;

  span{
    display: block;
    text-align: center;
    font-size: 30px;
    text-align: center;
    line-height: 10px;
  }
}

.paragraph{
  color: #fff;
  font-size: 22px;
  margin-bottom: 22px;
  text-align: justify;
  font-weight: 400;
  line-height: 34px;
}


// custom element
